# Arquivos de cache e compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Extensões C
*.so

# Distribuição / Empacotamento
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Arquivos do PyInstaller
*.spec

# Arquivos gerados pela aplicação (Logs, Configurações, Relatórios)
settings.json
relatorio_execucoes.txt
ultimo_relatorio.html
history.json

# Arquivos de backup específicos
Salvamento de ADM12.zip
doc/icone.ico

# Documentos
doc/*.docx